*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0f172a;
color:white;
font-family:Arial,Helvetica,sans-serif;
}

.hero{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:100vh;
text-align:center;
}

button{
margin-top:20px;
padding:15px 35px;
background:#3b82f6;
border:none;
border-radius:10px;
color:white;
font-size:18px;
cursor:pointer;
}
.editor{
display:flex;
height:100vh;
background:#10131b;
color:white;
}

.sidebar{
width:240px;
background:#181d28;
padding:20px;
display:flex;
flex-direction:column;
gap:12px;
}

.sidebar button{
padding:12px;
background:#2a3242;
border:none;
border-radius:8px;
color:white;
cursor:pointer;
}

.workspace{
flex:1;
display:flex;
flex-direction:column;
}

.preview{
flex:1;
display:flex;
justify-content:center;
align-items:center;
background:#0f172a;
}

.timeline{
height:220px;
background:#1a1f2d;
padding:20px;
}

.track{
margin-top:15px;
height:90px;
border:2px dashed #4b5563;
display:flex;
align-items:center;
justify-content:center;
}
.preview video{

max-width:95%;
max-height:100%;

border-radius:12px;

box-shadow:0 0 25px #000;

}
.timeline-panel{
padding:20px;
background:#181d28;
border-radius:10px;
}

.timeline-panel input{
width:100%;
}

.time-info{
display:flex;
justify-content:space-between;
margin-top:10px;
font-size:14px;
color:#ccc;
}